body {
  font-family: Arial, sans-serif;
  background: #a0f1f1;
  color: #e7faf8;
}

h1 {
  color: #0b0bbe;
}

h2, h3 {
  color: #18048b;
}

p {
  font-size: 16px;
}

footer {
  text-align: center;
  margin-top: 20px;
}


