body {
  font-family: Arial, sans-serif;
  background: #0b0c0c;
  color: #a1f0d2;
}

h1 {
  color: #0b0bbe;
}

h2, h3 {
  color: #18048b;
}

p {
  font-size: 16px;
}

footer {
  text-align: center;
  margin-top: 20px;
}

